.hero {
    display: flex;
    height:100vh;
    border: 4px solid black;
    z-index: 0;
    justify-content: center;
    align-items: center;

}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 400px;
    width: 400px;
    border: 4px solid;
    border-radius: 1rem;
    background-color:#DBEAFE;
    justify-content: center;
    align-items: center;
}

.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 60px;
    width: 100px;
    background-color: beige;
    border-radius: 1rem;
    font:bold;
}