.hero {
    display: flex;
    height:100vh;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 400px;
    width: 400px;
 
    border-radius: 1rem;
    background-color:#FE8D01;
    justify-content: center;
    align-items: center;
}

.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 60px;
    width: 100px;
    background-color: beige;
    border-radius: 1rem;
    font:bold;
}

.skills-carousel{
    display: flex;
    width: max-content;
    gap: calc(120px);
    background: transparent;
    justify-content: center;
    align-items: center;
    will-change: transform;
    z-index: 10;
}

.projects-section{
    display: flex;
    padding: 2rem;
    margin: 2rem;
    height: 50rem;
    width: 50rem;
    border-radius: 1.5rem;
    background-color:#7FB7BE ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}