@font-face{
    font-family: 'JetBrains Mono';
    src: url('/src/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

.hero {
    display: flex;
    min-height:100svh;
    z-index: 0;
    justify-content: center;
    align-items: center;
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width:100%;
    justify-content: center;
    align-items: start;
    overflow:hidden;
    padding: 4rem;
}

.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 60px;
    width: 130px;
    background-color: beige;
    border-radius: 1rem;
    font-weight:700;
    transition: transform 0.2s ease-in-out;
}

.skills-carousel{
    display: flex;
    width: 100%;
    background: transparent;
    justify-content: center;
    align-items: center;
    will-change: transform;
    z-index: 10;
    color: #EDEDED;
    overflow: hidden;
}

.projects-section{
    display: flex;
    padding: 2rem;
    margin: 2rem;
    height: 50rem;
    width: 50rem;
    border-radius: 1.5rem;
    background-color:#7FB7BE ;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    gap: 2.5rem;
}