@import 'tailwindcss';

html{
  scroll-behavior: smooth;
}

.bg-pattern1 {
  /* top: 0px;
  left: 122px;
  width: 1196px;
  height: 4224px; */
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 0 3px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("/tq_mx41u7oh03-6r4s-4300h.png");
}